ul{
    list-style-type: none;
    background-color: green;
}
li{
    display: inline-block;
    padding: 10px;
    color: brown;
}
body{
    margin:0;
}
a{
    text-decoration:none ;
}
.right{
    float: right;
}
li:hover{
    background-color: #4b1893;
}
li a:hover{
    color:rgb(133, 133, 145);
}
.op1{
    opacity:0.2;
}
.op2{
    opacity: 0.5;
}
.op3{
    opacity: 1;
}